.detailed-wine-image {
  height: 200px;
  width: 300px;
}
.pointer {
  cursor: pointer;
}
.maker-block{
  height: 36px;
}
.modal {
  display: block;
}

/*Animations*/
.maker-enter-active, .maker-leave-active {
  transition: all .5s;
}
.maker-enter, .maker-leave-to {
  transform: translateX(50px);
  opacity: 0;
}
.modal-enter-active, .modal-leave-active {
  transition: all .5s;
}
.modal-enter, .modal-leave-to {
  transform: translateY(-100px);
  }
.fade-enter-active {
  animation: .75s fade forwards;
}
.fade-leave-active {
  animation: .75s fade reverse;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}
