<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="app.css">
    <title>Wine</title>
  </head>
  <body>
<div class="container pt-5" id="app">
  <div class="row mb-3">
    <div class="col">
      <h1>Wine application</h1>
    </div>
  </div>
<div class="row">
  <div class="col-md-4">
<div class="form-group">
  <label for="search">Find your wine</label>
  <input
  type="text"
  class="form-control"
  id="search"
  placeholder="Name, type of wine ..."
  v-model="search"
  >
  </div>
<hr>
<ul class="list-group">
  <li
    v-for="(wine, index) in filteredWines"
  class="list-group-item list-group-item-action pointer"
  v-on:click="selectWine(index)"
  v-bind:class="{'active': selectedWineIndex === index}"
  >
  {{ wine.name }} - {{ wine.type }}
</li>
</ul>
  </div>
  <div class="col-md-8 pt-3">
    <div class="row">
      <div class="col-md-5">
        <h2>{{ wine.name }}</h2>
        <img
         v-bind:src="wine.image"
         v-bind:alt="wine.name"
          class="rounded detailed-wine-image"
          >
      </div>
      <div class="col-md-7 pt-2">
        <h5>Wine details</h5>
        <ul>
          <li>Type - <strong>{{wine.type}}</strong></li>
          <li>Region - <strong>{{wine.region}}</strong></li>
          <li>Year - <strong>{{wine.year}}</strong></li>
          <li>Alcohol - <strong>{{wine.alcohol}}</strong></li>
        </ul>

        <div class="maker-block">
          <transition>
        <p v-if="makerVisibility">{{wine.maker}}</p>
      </transition name="maker">
        </div>
        <button class="btn btn-outline-success mr-3"
         v-on:click="makerVisibility = !makerVisibility"
         >{{ wineBtnText }}</button>
        <button class="btn btn-primary" v-on:click="modalVisibility = true">Buy</button>
      </div>
    </div>
  </div>
</div>

<div class="row pt-3" v-if="logs.length !== 0">
  <div class="col-md-12">
    <ul class="list-group">
       <li
       v-for="log in logs"
       class="list-group-item"
       :class="{
         'list-group-item-primary': log.type === 'cnl',
         'list-group-item-success': log.type === 'ok',
       }"
              >{{ log.text }} {{ log.date | date }}</li>
    </ul>
  </div>
</div>
<transition name="modal">
<div class="modal fade show" v-if="modalVisibility" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Do you want to buy this wine?</h5>
        <button type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        v-on:click="modalVisibility = false"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Current wine - <strong>{{ wine.name }}</strong></p>
        <ul>
          <li>Type - <strong>{{wine.type}}</strong></li>
          <li>Region - <strong>{{wine.region}}</strong></li>
          <li>Year - <strong>{{wine.year}}</strong></li>
          <li>Alcohol - <strong>{{wine.alcohol}}</strong></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        v-on:click="newOrder"
        >Buy</button>
        <button
        type="button"
        class="btn btn-primary"
        v-on:click="cancelOrder"
        >Cancel</button>
      </div>
    </div>
  </div>
</div>
</transition>
<transition name="fade">
<div class="modal-backdrop fade show"  v-if="modalVisibility"></div>
</transition>

</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="app.js"></script>
  </body>
</html>
